/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    background-image: url('images/beach.png');
    background-size: cover;
    background-attachment: fixed;
}

.login {
    margin-bottom: 20px;
    text-align: center;
}

.login h2 {
    color: #004080;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    margin-bottom: 5px;
}

.login input[type="text"],
.login input[type="password"],
.login button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
}
.login button {
    background-color: #004080;
    color: #fff;
    cursor: pointer;
}

.login button:hover {
    background-color: #003366;
}

footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


header {
    background-color: #004080;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.intro, .pavilions, .contact, .search {
    margin-bottom: 20px;
    text-align: center;
}

.intro h2, .search h2, .pavilions h2, .contact h2 {
    color: #004080;
}

.search {
    text-align: center;
}

.search input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.search button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search button:hover {
    background-color: #003366;
}

.pavilions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px; /* Ajusta este valor según tus necesidades */
    margin: auto;
}

.pavilion-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.pavilion {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.pavilion:hover {
    transform: scale(1.05);
}

.pavilion a {
    text-decoration: none;
    color: inherit;
}

.pavilion i {
    font-size: 50px;
    color: #004080;
    margin-bottom: 10px;
}

.pavilion p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

@media (max-width: 800px) {
    .pavilion {
        flex: 1 1 100%; /* En pantallas pequeñas, cada pabellón tomará el 100% del ancho */
    }
}

footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Room List Styles */
.room-list {
    margin-bottom: 20px;
}

.room-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.room-list th, .room-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.room-list th {
    background-color: #004080;
    color: white;
}

.room-list button {
    margin: 10px 0;
    padding: 10px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

room-list button:hover {
    background-color: #003366;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-logo {
    width: 100px;
    margin-bottom: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.modal input, .modal select, .modal textarea {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal button {
    align-self: center;
    padding: 10px 15px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal button:hover {
    background-color: #003366;
}

/* Modal Table Styles */
.modal table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal table th, .modal table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.modal table th {
    background-color: #004080;
    color: white;
}

.modal table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal table tr:hover {
    background-color: #ddd;
}

/* Personnel List Styles */
.personnel-list {
    margin-bottom: 20px;
}

.personnel-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.personnel-card {
    width: 200px;
    padding: 15px;
    border: 2px solid #004080;
    border-radius: 10px;
    background-color: #f1f1f1;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.personnel-card.out-of-service {
    background-color: lightcoral;
    border-color: red;
    color: white;
}

.personnel-card .personnel-info {
    font-size: 14px;
    line-height: 1.5;
}

.personnel-card .personnel-info.empty {
    text-align: center;
    font-style: italic;
    color: #888;
}

.personnel-card p {
    margin: 5px 0;
}

.personnel-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.personnel-options button {
    padding: 5px 10px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.personnel-options button:hover {
    background-color: #003366;
}

/* Room Container Styles */
.rooms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.room {
    width: 150px;
    height: 150px;
    border: 2px solid #004080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
}

.room a {
    text-decoration: none;
    color: inherit;
}

.room-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #004080;
    text-transform: uppercase;
}

.room-options {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.room button {
    padding: 5px 10px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

room button:hover {
    background-color: #003366;
}

.room:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.room-available {
    background-color: white; /* Blanco para habitaciones vacías */
    border-color: #00acc1; /* Color del borde */
}

.vacancy {
    background-color: #32CD32; /* Verde para habitaciones con vacantes */
    border-color: #32CD32;
}

.full {
    background-color: #FF4500; /* Rojo para habitaciones llenas */
    border-color: #FF4500;
}


.room.out-of-service {
    background-color: #f0f0f0;
    border-color: #bdbdbd;
}

/* Estilo para las casillas no disponibles */
.personnel-card.no-disponible {
    background-color: red;
    border-color: darkred;
    color: white;
}

/* Button Styles */
button.assign-button, button.back-button, button.index-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 200px;
}

button.assign-button:hover, button.back-button:hover, button.index-button:hover {
    background-color: #003366;
}

/* Estilos para el dropdown del modal de status */
.dropdown {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio superior opcional */
    position: relative; /* Importante para el posicionamiento absoluto */
}

.dropdown-button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 200px; /* Ancho del botón */
    text-align: center; /* Centrado del texto dentro del botón */
}

.dropdown-button:hover {
    background-color: #003366;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px; /* Ancho del menú desplegable */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Posiciona el menú debajo del botón */
    left: 0; /* Alinea el menú con el lado izquierdo del botón */
    right: 0; /* Asegura que el menú no se extienda fuera del contenedor */
    margin: auto; /* Centra horizontalmente el menú */
    border-radius: 5px;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center; /* Centra el texto dentro de cada opción */
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-button:focus + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

/* Professional Style for Observations */
.observations-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center; /* Centrar las observaciones */
}

.observations-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.observations-list li strong {
    font-weight: bold;
    color: #004080;
}

.observations-list li em {
    color: #888;
    font-style: italic;
}

/* Centering Textarea in Observation Modal */
#observationForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar la caja de texto */
    width: 100%;
    margin-top: 40px; /* Aumentar margen superior para separar del contenido anterior */
}

#observationText {
    width: 80%;
    max-width: 400px;
    height: 100px;
    margin-bottom: 30px; /* Aumentar margen inferior para separar del botón */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

#observationForm button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Aumentar margen superior para separar del cuadro de texto */
}

#observationForm button:hover {
    background-color: #003366;
}

#observationsList {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#observationsList li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 14px; /* Ajustar el tamaño del texto */
}

#observationsList li strong {
    font-weight: bold;
    color: #004080;
}

#observationsList li em {
    color: #888;
    font-style: italic;
}

/* Estilos para el botón de bloqueo/desbloqueo de habitaciones */
.room-block-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.room-blocked {
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Mostrar el botón de bloqueo/desbloqueo al pasar el mouse sobre la habitación */
.room:hover .room-block-button {
    display: block;
}

/* Estilos para la ventana de "ver entregas" */
#deletedRecordsModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#deletedRecordsModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#deletedRecordsModal .modal-content table {
    width: 100%;
    border-collapse: collapse;
}

#deletedRecordsModal .modal-content th,
#deletedRecordsModal .modal-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px; /* Ajustar el tamaño del texto */
}

#deletedRecordsModal .modal-content th {
    background-color: #004080;
    color: white;
}

/* Estilos para la ventana de observación */
#observationModal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#observationModal .close {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

#observationModal .close:hover,
#observationModal .close:focus {
    color: black;
    text-decoration: none;
}

#personInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px; /* Aumentar margen inferior para separar del formulario */
}

#personInfo p {
    margin: 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: left;
}

#observationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px; /* Aumentar margen superior para separar del contenido anterior */
}

#observationText {
    width: 80%;
    max-width: 400px;
    height: 100px;
    margin-bottom: 30px; /* Aumentar margen inferior para separar del botón */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

#observationForm button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Aumentar margen superior para separar del cuadro de texto */
}

#observationForm button:hover {
    background-color: #003366;
}

#observationsList {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#observationsList li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 14px; /* Ajustar el tamaño del texto */
}

#observationsList li strong {
    font-weight: bold;
    color: #004080;
}

#observationsList li em {
    color: #888;
    font-style: italic;
}

/* Estilos para el botón de bloqueo/desbloqueo de habitaciones */
.room-block-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

/* Estilo para las habitaciones bloqueadas */
.room-blocked {
    background-color: grey !important;
}

/* Mostrar el botón de bloqueo/desbloqueo al pasar el mouse sobre la habitación */
.room:hover .room-block-button {
    display: block;
}

/* Estilos para la ventana de "ver entregas" */
#deletedRecordsModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

#deletedRecordsModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#deletedRecordsModal .modal-content table {
    width: 100%;
    border-collapse: collapse;
}

#deletedRecordsModal .modal-content th,
#deletedRecordsModal .modal-content td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px; /* Ajustar el tamaño del texto */
}

#deletedRecordsModal .modal-content th {
    background-color: #004080;
    color: white;
}

/* Estilos para la ventana de utensilios */
#utensilsModal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

#utensilsModal .close {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

#utensilsModal .close:hover,
#utensilsModal .close:focus {
    color: black;
    text-decoration: none;
}

.utensil-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.utensil-logo {
    width: 50px;
    height: 50px;
}

.utensil-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.utensil-item input {
    margin-left: auto;
    padding: 5px;
    width: 50px;
}


button.assign-button, button.back-button, button.index-button, button.utensils-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 200px;
}

button.assign-button:hover, button.back-button:hover, button.index-button:hover, button.utensils-button:hover {
    background-color: #003366;
}
.red-border {
    border: 2px solid red;
}


.external {
    background-color: yellow !important; /* Usa !important para asegurarte de que sobreescriba otros estilos */
    color: black; /* Ajusta el color del texto si es necesario */
}

/* Estilo para el modal de Registro de Entregas */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    animation: fadeIn 0.3s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.clear-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.clear-button:hover {
    background-color: #d32f2f;
}

/* Tabla de registros */
#deletedRecordsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#deletedRecordsTable th, #deletedRecordsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#deletedRecordsTable th {
    background-color: #4CAF50;
    color: white;
}

/* Estilo para el calendario */
#filterDate {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Animación para el modal */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Estilo para el botón de imprimir */
.print-button {
    padding: 5px 10px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.print-button:hover {
    background-color: #003366;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px; /* Incremento a 60px para mayor separación */
}

#deletedRecordsTable {
    margin-bottom: 60px; /* Asegura que haya espacio entre la tabla y los botones */
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #45a049;
}

#paginationControls {
    text-align: center;
    margin: 0 auto;
}

/* Lista sin viñetas */
#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo para cada opción del menú */
/* Estilo básico del menú contextual */
#context-menu {
    position: absolute;
    display: none;
    background-color: #004080; /* Fondo oscuro */
    border: 1px solid #003366; /* Borde oscuro */
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    min-width: 150px; /* Ancho mínimo */
    padding: 10px 0;
}

#context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#context-menu ul li {
    padding: 12px 16px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #004080;
    transition: background-color 0.3s ease;
}

#context-menu ul li:hover {
    background-color: #0059b3; /* Cambia el color al hacer hover */
}

/* Estilo básico para la habitación */
.room {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid #004080; /* Borde inicial */
    transition: border-color 0.3s ease; /* Transición suave para el borde */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Animación congelada para el borde de la habitación */
.frozen-room {
    border-color: #00cfff !important; /* Cambia solo el borde a color azul congelado */
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.5); /* Sombra de hielo */
}

/* Capa de hielo que cubre la habitación sin modificar el color de fondo */
.frozen-room::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Bordes redondeados */
    background: rgba(173, 216, 230, 0); /* Sin cambiar el fondo */
    z-index: 1; /* Asegura que la capa de hielo esté sobre el contenido pero no visible */
    pointer-events: none;
}

/* Estilo para el texto "AC", "Mantenimiento" y "Plagas" */
.ac-text,
.maintenance-text,
.plagas-text {
    font-size: 16px;
    font-weight: bold;
    color: #00cfff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* El texto debe estar sobre el borde */
}

/* Animación de martillo para mantenimiento */
.maintenance-room {
    border-color: #ffcc00 !important; /* Borde de mantenimiento en amarillo */
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    animation: hammer-motion 1s infinite;
}

@keyframes hammer-motion {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Animación de plagas */
.plagas-room {
    border-color: #ff3333 !important; /* Borde de plagas en rojo */
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    animation: bug-motion 1s infinite;
}

@keyframes bug-motion {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Carchas de hielo */
.ice-particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(173, 216, 230, 0.8); /* Color azul claro para las carchas */
    border-radius: 50%;
    animation: ice-fall 3s linear;
    z-index: 2; /* Las carchas deben estar por encima de la capa de hielo */
}

@keyframes freeze-room {
    0% {
        box-shadow: 0px 0px 10px rgba(0, 204, 255, 0.5);
    }
    50% {
        box-shadow: 0px 0px 20px rgba(0, 204, 255, 0.8);
    }
    100% {
        box-shadow: 0px 0px 10px rgba(0, 204, 255, 0.5);
    }
}

/* Animación de caída de las carchas de hielo */
@keyframes ice-fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}

/* Estilo para el ícono del aire acondicionado */
.ac-icon {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px;
    margin-right: 5px; /* Espacio entre el ícono y el texto */

}

/* Colocar los iconos en el centro, en la parte superior de la habitación */
.room-icon {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Asegura que el ícono esté visible sobre el fondo */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para el ícono del aire acondicionado */
.ac-icon, .maintenance-icon, .plagas-icon {
    width: 30px; /* Tamaño ajustado para el ícono */
    height: 30px;
    margin-right: 5px;
}

/* Para que el texto esté centrado en la parte inferior */
.ac-text, .maintenance-text, .plagas-text {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* Estilo del botón de "Desconectar" */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.logout-button:active {
    background-color: #b71c1c;
}

/


